.bg-img {
  padding: 1px;
  height: 100%;
  width: 100%;
  background-image: url('../../assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.add-button {
  --background: #383a3e;
  position: absolute;
  bottom: 5px;
  width: 96%;
  --color: #ffffff;
  margin-left: 2%;
}

h1 {
  color: white;
  margin-left: 20px;
  font-size: 30px;
}

h3 {
  color: brown;
  margin-left: 20px;
  margin-top: -7px;
  font-size: medium;
  margin-bottom: 15px;
  text-transform: capitalize;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}